.largeButton,
.mediumButton,
.smallButton,
.xlargeButton {
  max-height: 20px;
  &.removeButton {
    width: 25px;
    height: 35px !important;
  }
  &.xlargeButton {
    width: 120px;
  }
  &.largeButton {
    width: 80px;
  }

  &.mediumButton {
    width: 150px;
  }

  &.smallButton {
    width: 120px;
  }
}

.innerButton {
  line-height: 30px;
}

.mainBtn {
  position: relative;
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 2px 0px 1px rgba(103, 110, 118, 0.16);
  min-height: 30px;
  max-height: 32px;

  img {
    margin-left: auto;
    width: 18px;
  }

  &.not_allowed {
    color: $dark-gray;
    cursor: not-allowed;
    background-color: $light-gray;
  }
  &.remove {
    background: none;
    color: $red;
    border: none;
    cursor: pointer;
  }
  &.primary-btn {
    background-color: $oxford-blue;
    color: $button-primary-text;
    border: 1px solid $border-color;
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    &:hover {
      background-color: $royal-blue;
      color: $button-primary-text;
    }
  }
  .m-auto {
    text-align: center;
  }
}

.comment-position {
  margin-left: auto;
  margin-right: 40px;
}

// Common buttons
.cancel {
  margin-right: 12px;
  margin-left: 12px;
}

.closeButton {
  width: 20px;
}

.reset-btn {
  margin: 30px auto;
}

.home-button {
  margin-top: 20px;
  cursor: pointer;
}

.icon-position {
  img {
    margin-left: 12px;
    width: 13px;
  }
}

.pointer {
  cursor: pointer;
}

.ok-green-btn {
  display: flex;
  color: $white;
  align-items: center;
  border-radius: 5px;
  background: $navy-blue;
  font-weight: 600;
  padding: 4px 12px;
  border: 1px solid $green-border;
}

div.options {
  background-color: $white;
  position: absolute;
  max-width: 100px;
  width: 100%;
  top: 44px;
  right: 0;
  z-index: 2;
  border: 1px solid $off-white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.12),
    0px 15px 35px 0px rgba(103, 110, 118, 0.08);
}

.optionitem {
  border-bottom: 1px solid $light-gray;
  padding: 2px 20px;
  margin: 10px 0;
  text-align: center;
  height: 28px;
  color: $light-red;
  &:hover {
    background-color: $light-gray;
  }
}

@media (max-width: 490px) {
  .mainBtn {
    padding: 4px 12px; /* Reduce padding for mobile */
    border-radius: 6px;
    min-height: 28px;
    max-height: 30px;
  }

  .largeButton,
  .mediumButton,
  .smallButton,
  .xlargeButton {
    max-height: 18px; /* Slight reduction for compact fit */

    &.xlargeButton {
      width: 100px; /* Adjust width for smaller screen */
    }
    &.largeButton {
      width: 70px;
    }
    &.mediumButton {
      width: 45px;
    }
    &.smallButton {
      width: 90px;
    }
  }

  .innerButton {
    line-height: 28px; /* Adjust line-height for compact design */
    font-size: 0.9rem; /* Reduced font size for better readability */
  }

  div.options {
    top: 36px; /* Adjust position for dropdown options */
    max-width: 90px; /* Slightly reduced width */
    width: 90%; /* Ensure full-width fit on mobile */
    right: 5px; /* Adjust alignment */
    border-radius: 8px; /* Slightly reduced border radius */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1),
      0px 12px 28px rgba(103, 110, 118, 0.07);
  }

  .optionitem {
    padding: 1px 16px; /* Reduced padding */
    margin: 8px 0;
    font-size: 0.85rem; /* Reduced font size */
    height: 24px; /* Adjusted height for compact fit */
  }
}

.removeBtn {
  height: 25px !important;
  width: 35px;
  font-size: 12px;
  font-weight: 900;
  padding: 1px 16px;
  background-color: $light-teal !important;
  color: $teal !important;
}

.filter {
  margin-left: auto;
  align-items: end;
  display: flex;
  margin-right: 20px;
}

.margin-top {
  margin-top: 30px;
}
.button-group {
  display: flex;
  gap: 10px;
  margin-left: auto;
  justify-content: end;
}
