#login-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('../assets/images/login.webp');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: 1;
  }

  .form-area {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 470px;
    z-index: 2;
    gap: 60px;
    @include card-gradient($light-teals, $pen-blue);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    form {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;

      .input-login {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $input-background;
        border-radius: 5px;
        height: 80%;
        justify-content: center;
        gap: 10px;
        h3 {
          margin-left: 45px;
          margin-right: auto;
        }
        p {
          width: 100%;
          text-align: center;
        }
        .underline {
          color: $red;
          cursor: pointer;
        }
      }
    }
    .image-firm {
      width: 50%;
      height: 70%;
      img {
        width: 100%;
        border-radius: 8px;
        height: 100%;
      }
    }
  }
}

.form-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $darkest-background;
  z-index: 1;
}

button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: $white;
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: $secondary-color;
}

p {
  font-size: 14px;
}

p[style='color: red'] {
  color: $red;
}

p[style='color: green'] {
  color: $green-border;
}
