$happy-green: #4caf50;
$hover-gray: #a0aec0;
$caribbean-blue: #0e6ba8;
$royal-blue: #0a2472;
$pen-blue: #001c55;
$oxford-blue: #00072d;
$lavander: #a480cf;
$lavander-dark: #986ccfeb;
$lavander-light: #b49edac0;
$color-blue-light: #c5d1fead;
$color-blue-dark: #c6fef2ce;
$color-blue-comment-light: #d4ddfead;
$color-blue-comment-dark: #dffef7ce;
@mixin card-gradient($light, $dark) {
  background: linear-gradient(to right, $light, $dark);
}
@mixin comment-gradient($light, $dark) {
  background: linear-gradient(to right, $light, $dark);
}
@mixin comment-gradient($light, $dark) {
  background: linear-gradient(to right, $light, $dark);
}

// Calm and Minimal Color Palette
$primary-color: #3a506b; // Slate Blue
$secondary-color: #5bc0be; // Aqua
$background-color: #edf5e1; // Pale Greenish White
$accent-color: #ff6f61; // Muted Coral

// Text Colors
$text-primary-color: $primary-color;
$text-secondary-color: darken($secondary-color, 20%);

// Button Styles
$button-primary-bg: $primary-color;
$button-primary-text: #ffffff;
$button-secondary-bg: $secondary-color;
$button-secondary-text: #ffffff;

// Border Colors
$border-color: lighten($primary-color, 20%);

// Utility Classes
body {
  background-color: $background-color;
  color: $text-primary-color;
}

button {
  &.primary {
    background-color: $button-primary-bg;
    color: $button-primary-text;
    border: 1px solid $border-color;
  }
  &.secondary {
    background-color: $button-secondary-bg;
    color: $button-secondary-text;
    border: 1px solid $border-color;
  }
}
$font-family: 'Arial', sans-serif;
$font-size-base: 16px;
$font-weight-bold: 700;
// box shadow
$card-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1),
  -6px -6px 12px rgba(255, 255, 255, 0.9);
$card-hover-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15),
  -10px -10px 20px rgba(255, 255, 255, 0.95);

$gray: #555;
$teal: #007b83;
$light-blue: #f3faff;
$light-gray: #ccc;
$dark-gray: #333;
$purple: #5e4a6d;

$red: #e74c3c;
$blue: #7497db;
$blue-hover: #87a3dae7;
$white: #ffffff;
$navy-blue: #093867;
$green-border: #396c35;
$off-white: #fafaff;
$light-red: #c90e0e;
$light-teal: #9dd9d2;
$teal-bg: #e4f1fe;
$input-background: rgba(232, 232, 232, 0.5);
$darkest-background: rgba(0, 0, 0, 0.3);
